// colors
$black: #151515;
$green: #4ee1a0;
$dark-gray: #242424;
$gray: #d9d9d9;
$white: #fff;

// typography
$fonts: "Space Grotesk", sans-serif;
$heading-xl: 88px;
$heading-l: 48px;
$heading-m: 24px;
